.new-background-color{
    --background: #2788E8;
  }

  ion-title {
    color: white;
}

ion-menu-button{
    color: white;
}

ion-back-button{
    float: left;
    color: #FFF;  
  }

  .countdown-wrap{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    padding: 0px 16px;
 }

 .question-title{
    line-height: 36px;
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.timer-countdown{
    display: inline-block;
    margin: 0 auto;
    background-color: #0088e8;
    color: #ffffff;
    padding: 10px 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-size: cover;
    font-weight: bold;
}

.quiz-incorrect{ color: red; text-align: right; }
.quiz-correct{ color:green; text-align: right; }
.quiz-no-answer{color: red;}

h3.question{
    text-align: left;
    font-weight: normal;
    padding: 0px 16px;
    font-size: 20px;
    line-height: 1.5em;
}
h3.question span{
    font-weight: bold;
}

.item-inner{
    border-width: 1px !important;
}

.quiz-results{
    padding: 15px;
}
.quiz-results h3{
    font-size: 1.5rem
}

// .result-slide{
//     float:left;
//     padding-right: 648px;
//     // font-weight:lighter;
//     font-size: 16px;
//     width: 0px !important;
// }

.quizCompleted span{
    font-weight: bold;
}

// .quizCompleteDiv{
//     padding:35px;
// }
