ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}




// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.preloader-wrap{
  position: fixed;
  top: 0;
  height: 3px;
  z-index: 999;
  width: 100%;
}

.preloader-wrap:after{
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  content: "";
}



// Header


// ion-title{
//   color:#fff;
// }

// .new-background-color{
//   --background: #2788E8;
// }

// ion-navbar button{
//     position: absolute !important;
//     z-index: 24;
// }

// .tricks-row{
//   margin-top: 54px;
// }

// .side-menu-pages ion-icon {
//   padding-right: 15px;
//   position: relative;
//   top: 2px;
//   color: #0088e8;
// }
// .toolbar-background-md { background: #0088e8;}
// .toolbar-title-md {
//   text-align: left;
//   color: #FFF;
//   text-transform: uppercase;
//   font-weight: normal;
// }
// .tricks-list ion-list ion-item .item-inner{
//   background-position: top right;
//   background-repeat: no-repeat;
// }
// .tricks-list ion-list ion-item:nth-child(even) .item-inner{
//   background-color: #EC407A;
//   background-image: url(../assets/img/even.png)
// }
// .tricks-list ion-list ion-item:nth-child(odd) .item-inner{
//   background-color: #0088e8;
//   background-image: url(../assets/img/odd.png)
// }
// .tricks-list list-ios{
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }
// .tricks-list .item-ios{ 
//   padding: 0 16px !important;
// }
// .list-ios > .item-block:first-child{
//   border-top: none;
// }
// .favorites-row .item-md.item-block .item-inner,
// .tricks-row .item-md.item-block .item-inner{
//   padding-right: 20px;
//   padding-left: 20px;
//   margin-top: 5px;
//   margin-bottom: 5px;
//   background-size: auto;
//   background-position: top right;
//   background-repeat: no-repeat;
// }

// .favorites-row .item-md.item-block:first-child .item-inner,
// .tricks-row .item-md.item-block:first-child .item-inner{ margin-top: 10px}

// .favorites-row .item-md.item-block:last-child .item-inner,
// .tricks-row .item-md.item-block:last-child .item-inner{margin-bottom: 10px}

// .favorites-row .trick-title,
// .tricks-row .trick-title{
//   color: #FFF;
//   font-size: 18px;
//   text-align: center;
//   margin-top: 20px;
//   height: 70px;
//   max-width: 100%;
//   display: block;
//   display: -webkit-box;
//   white-space: normal;
//   -webkit-line-clamp: 3;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
// .favorites-row .item-md.item-block .item-inner .label-md,
// .tricks-row .item-md.item-block .item-inner .label-md{ margin-right: 0px; }

// .favorites-row .favorite,
// .tricks-row .favorite{ position: absolute; right: 25px; top: 12px; z-index: 2; color: #FFF;}

// .favorites-row .item-inner button,
// .tricks-row .item-inner button{
//   margin: 15px auto 0;
//   display: block;
//   background: transparent;
//   color: #FFF;
// }
// .no-trick { color: #FFF; text-align: center; }
// .video-container::after{
//   display: block;
//   content: "";
//   clear: both;
// }
// .video-fix { height: 1px; display: block; clear: both;}
// .bar-button-default-md:hover:not(.disable-hover)
// .bar-button-clear-md-default:hover:not(.disable-hover),
// .bar-button-md-default:hover:not(.disable-hover),
// .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default
// { color: #fff !important;}


// .preloader{
//   top: 0;
//   height: 3px;
//   background: #EC407A;
//   z-index: 999;
//   width: 100%;
//   animation: loading-animation 2s infinite;
// }
// .input-wrapper {
//   position: static;
// }

// ion-col { position: initial !important; }
// .col {position: initial !important;}
// @-webkit-keyframes loading-animation {
//   0% {width: 0%;}
//   50% {width: 100%;}
//   51% {transform: translateX(0%);}
//   100% {transform: translateX(100%);}
// }
// @-moz-keyframes loading-animation {
//   0% {width: 0%;}
//   50% {width: 100%;}
//   51% {transform: translateX(0%);}
//   100% {transform: translateX(100%);}
// }
// @-o-keyframes loading-animation {
//   0% {width: 0%;}
//   50% {width: 100%;}
//   51% {transform: translateX(0%);}
//   100% {transform: translateX(100%);}
// }
// @keyframes loading-animation {
//   0% {width: 0%;}
//   50% {width: 100%;}
//   51% {transform: translateX(0%);}
//   100% {transform: translateX(100%);}
// }



// ion-slides{ height: auto;}
// .swiper-pagination-fraction, .swiper-pagination-custom,
// .swiper-container-horizontal > .swiper-pagination-bullets{
//   bottom: 0;
// }

// :focus,
// :active {
// outline: none;
// }
// .toolbar-background-ios{
//   background: #0088e8;
// }
// .toolbar-title-ios,
// .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
//   color: #FFF;
// }
