.new-background-color{
    --background: #2788E8;
  }

  ion-title {
    color: white;
}

ion-menu-button{
    color: white;
}

.trick-content  {
    .single-trick {
            position: relative;
    }
}

.tricks-level ion-item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-block-end: 15px;
    text-align: center;
    // padding-top: 10px;
    // color: #fff;

    width: 100%;
    padding:20px;
}

.labelCls{
    color:white;
}

ion-item:nth-child(odd){
    background-color: #0088e8;
}
 ion-item:nth-child(even){
    background-color: #EC407A;
}

.tricks-level{
    width: 100%;
    padding:20px;
}