<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="requestInProgress" class="preloader-wrap">
  <div  class="preloader"></div>
</div>

<ion-content>
  <!-- <div class="profile-box"> -->
    <div>
      <form [formGroup]="profileForm" (ngSubmit)="update(profileForm.valid)">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-label color="primary" floating>
                  <ion-icon name="person"></ion-icon>
                  First Name
                </ion-label>
                <ion-input type="text"  formControlName="firstname"  maxlength="10"></ion-input>
             </ion-item>

             <ion-item>
              <ion-label color="primary" floating>
                <ion-icon name="person"></ion-icon>
                Last Name
              </ion-label>
              <ion-input type="text"  formControlName="lastname" maxlength="15"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>
              <ion-icon name="mail"></ion-icon>
              Email
            </ion-label>
            <ion-input type="text" [ngClass]="{'has-error':!profileForm.controls['email'].valid}"  formControlName="email"></ion-input>
            <div *ngIf="profileForm.controls['email'].hasError('email') && profileForm.controls['email'].touched" class="alert alert-danger">Invalid email.</div>

          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>
              <ion-icon name="phone-portrait"></ion-icon>
              Mobile
            </ion-label>
            <ion-input type="text"  formControlName="mobile"></ion-input>
          </ion-item>

          <!-- <button type="submit" [disabled]="!profileForm.valid" ion-button>Update</button> -->

          <ion-button color="secondary" expand="block" type="submit" 
          [disabled]="!profileForm.valid">Update</ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
      </form>
  </div>

</ion-content>
