<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Write to us</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="requestInProgress" class="preloader-wrap">
  <div  class="preloader"></div>
</div>

<ion-content>
  <div>
    <form [formGroup]="feedbackForm" (ngSubmit)="send(feedbackForm.valid)">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label color="primary" floating>
                <ion-icon name="contact"></ion-icon>
                Name
              </ion-label>
              <ion-input type="text" [ngClass]="{'has-error':!feedbackForm.controls['name'].valid}"  formControlName="name"></ion-input>
            </ion-item>

           <ion-item>
            <ion-label color="primary" floating>
              <ion-icon name="ios-text"></ion-icon>
              Message
            </ion-label>
            <ion-textarea formControlName="message"></ion-textarea>
          </ion-item>       
        <ion-button color="secondary" expand="block" type="submit" 
        [disabled]="!feedbackForm.valid">Send</ion-button>        
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
</div>
</ion-content>
